.box-con {
    width: 370px;
    height: auto;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 0 2px black;
    padding: 10px;


}

